@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;

}
html,body{
    width: 100%;
    height:100%;
}
body {

    background: linear-gradient(-45deg, #a268ff, #fd63f5, #4a385c, #550555);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'Poppins', sans-serif;

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
p{
    overflow: hidden;
}
.calc_body {
    background-color: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    /* background-color: #fafafa; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.result {
    background-color: black;

    border-radius: 8px 8px 0 0;
    padding: 30px;
    font-size: 2.5rem;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.buttons {

    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.buttons button {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.54) 31%, rgba(68, 64, 66, 1) 84%);
    padding: 40px;
    font-size: 18px;
    font-weight: 700;
    border: none;




}


.res:hover {
    background-image: linear-gradient(0deg, rgba(238, 11, 11, 0.849) 31%, rgb(230, 43, 136) 84%);
}

.mas:hover {
    background-image: linear-gradient(0deg, rgba(10, 250, 42, 0.54) 31%, rgb(169, 243, 84) 84%);
}

.lim:hover {
    background-image: linear-gradient(0deg, rgb(110, 23, 1) 31%, rgb(230, 43, 136) 84%);
}

button:hover {
    background-color: cyan;
}

.del:hover{
    background-image: linear-gradient(0deg, rgb(238, 11, 11) 31%, rgb(255, 88, 172) 84%);
}
